%nav{"aria-label" => "You are here:", :role => "navigation"}
  %ul.breadcrumbs
    %li
      %a{:href => "/instances"} Instances

%h5
  = resource_name(@instance.name)
  in
  %a{:href => "/vpcs/#{@instance.vpc.try(:vid)}"}= @instance.vpc.try(:name)
  \|
  %a{:href => "/vpcs/#{@instance.vpc.try(:vid)}"}= @instance.subnet.try(:name)
%p
  %span.label.primary
    = @instance.vpc_id
  %span.label.warning
    = @instance.subnet_id
  %span.label.secondary
    = @instance.iid
  %span.label{:class => "#{class_for_state(@instance.state)}"}
    = @instance.state

%pre.callout
  = JSON.pretty_generate(JSON.load(@instance.resource_json))
