%nav{"aria-label" => "You are here:", :role => "navigation"}
  %ul.breadcrumbs
    %li
      %span.badge.secondary= @instances.count
      Instances

%table.hover#instances
  %thead
    %tr
      %th
        Name
      %th
        %span.label.secondary Type
      %th
        %span.label.secondary Private IP
        %span.label.secondary Public IP
      %th vpc | Subnet Name
      %th Tags
  %tbody
    - @instances.each do |instance|
      %tr
        %td
          %a{:href => "/instances/#{instance.iid}"}
            = resource_name(instance.name)
        %td
          %span.label.secondary
            = instance.instance_type
        %td
          %span.label{:class => "#{class_for_state(instance.state)}"}
            = instance.private_ip_address
          - unless instance.public_ip_address.nil?
            %span.label{:class => "#{class_for_state(instance.state)}"}
              = instance.public_ip_address
        %td
          %a{:href => "/vpcs/#{instance.vpc.try(:vid)}"}= instance.vpc.try(:name)
          \|
          = instance.subnet.try(:name)
        %td
          - JSON.parse(instance.resource_json)['tags'].sort_by { |h| h['key'] }.each do |tag|
            - if tag_filter.include? tag['key']
              %span.label{:style => "background-color: #929292"}
                = "#{tag['key']}=#{tag['value']}"
            - else
              %span.label.hidden{:style => "background-color: #aaaaaa; display:none"}
                = "#{tag['key']}=#{tag['value']}"
          %a#toggle-tags Show more/less
